.noselect {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
    background-color: black;
    color: silver;

    margin: 0;

    /* Hide scrollbars */
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    height: 100vh;
    max-width: 500px;

    margin-left: 40px;
}

main blockquote {
    font-size: 25px;
    text-rendering: optimizeLegibility;
    margin: 0;

    hyphens: auto;
    line-height: 1.2;
    font-kerning: normal;
}

main blockquote p span.time {
    font-weight: bold;
    color: whitesmoke;
}

main blockquote footer {
    display: flex;
    float: right;
    max-width: 90%;

}

main blockquote #author {
    font-style: normal;
}

img#earth {
    position: absolute;
    width: 601px;
    height: 601px;
    top: calc(50vh - 601px / 2);
    left: calc(50vw - 601px / 2);

    z-index: -1;

    /* hide earth until it's rendered */
    visibility: hidden;
}

footer#footer {
    position: absolute;
    font-size: 12px;
    line-height: 12px;
    top: calc(100vh - 12px - 2px);  /* (- 2px) for the descender line */
    width: calc(100vw - 1em / 2);
    padding-right: calc(1em / 2);
    text-align: right;
}

#footer a:link    { color: silver; }
#footer a:visited { color: silver; }
#footer a:active  { color: silver; }