body {
    background-color: black;
    color: silver;

    margin: 0;

    /* Hide scrollbars */
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    height: 100vh;
    width: calc(100vw / 4);

    margin-left: 40px;
}

main blockquote {
    font-size: 25px;
    text-rendering: optimizeLegibility;
    margin: 0;

    hyphens: auto;
    line-height: 1.2;
}

main blockquote footer {
    display: flex;
    float: right;
    max-width: 90%;

}

main blockquote #author {
    font-style: normal;
    font-weight: bold;
    color: whitesmoke;
}

div#earth {
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: blue;
    top: calc(50vh - 600px / 2);
    left: calc(50vw - 600px / 2);

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
}

div#earth img {
    width: 100%;
    height: 100%;
}

footer#footer {
    position: absolute;
    font-size: 12px;
    line-height: 12px;
    top: calc(100vh - 12px - 2px);  /* (- 2px) for the descender line */
    width: calc(100vw - 1em / 2);
    padding-right: calc(1em / 2);
    text-align: right;
}

#footer a:link    { color: silver; }
#footer a:visited { color: silver; }
#footer a:active  { color: silver; }